<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <uses-feature android:name="android.software.leanback" android:required="true" />
 <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
 <application android:label="Cinejoy Native Proof" android:theme="@android:style/Theme.Material.NoActionBar" android:usesCleartextTraffic="false" android:allowBackup="false">
  <activity android:name="fr.bonamy.movies.core.ProofActivity" android:exported="true" android:screenOrientation="landscape">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LEANBACK_LAUNCHER"/></intent-filter>
  </activity>
 </application>
</manifest>
